body{
    background-image: url('Images/background3.jpg');
    background-size: auto;
    background-position:center ;
    position: relative; 
    z-index: 10;
    margin: 0;
    max-width: 100%;
}
header {
    background-color: rgb(43, 43, 43);
    color: whitesmoke;
    margin: 0;
    padding: 5px 10px 5px 15px;
}

header h1 {
    margin: 0;
    display: inline;
}
nav ul {
    margin: 0;
    display: inline;
}

nav ul li{
    
    list-style-type: none;
    background: black;
    color:white;
    padding: 5px 15px;
    margin: 2px;
    float: right;
    border-radius: 10px;
}

nav ul li a {
    color:white;
}
h1 {
    margin: 0;
    padding: 5px 15px;
    background-color: azure;
    border-radius: 5px;
}
.box{
    background: lightblue;
    padding: 10px 20px 20px 20px;
    margin: 20px 50px 50px 50px;
    border-radius: 10px;
}
.itembox{
    background: whitesmoke;
    padding: 10px 20px 20px 20px;
    margin: 20px 50px 10px 50px;
    border-radius: 10px;
    font-size: larger;
}
.itemtitle{
    background: whitesmoke;
    font-size: large;
}
.socials{
    margin-left: 47%;
    
}
.icon{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 10px;
}
.dashboard{
    display: inline;
    width: 500px;
    height: 500;
}
.footer{
    color: whitesmoke;
}